body {
	margin: 0;
	padding: 0;
	font-family: Cuprum, Tahoma, sans-serif;
	background-color: rgba(0, 0, 0, 0.95);
}

a {
	text-decoration: none;
	color: yellow;
	font-size: 30px;
}

p {
	color: aliceblue;
	font-size: 20px;
	margin: 10px;
}

header {
	display: flex;
	justify-content: space-between;
}

.flags {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: row;
	-ms-align-items: center;
	align-items: center;
	margin-right: 10px;
}

.nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-left: 30px;
}

li {
	margin: 10px;
}

.img-flags {
	width: 60px;
	margin: 10px;
}

.contacts-content {
	display: inline-block;
  	vertical-align: top;
  	width: 30%;
  	margin: 0 5px;
 	background-repeat: no-repeat;
  	background-position: center top;
  	text-transform: uppercase;
}

.telegram {
	padding-top: 65px;
	background-image: url("../img/tg_logo.svg");
  }
  
 .email {
	padding-top: 65px;
	background-image: url("../img/email_logo.png");
  }
